<launch>
    <node name="beaverbot_control_node" pkg="beaverbot_control" type="beaverbot_control_node" output="screen">
        <param name="~trajectory_file" value="$(find beaverbot_control)/trajectories/experiment_dubins_trajectory.csv"/>
        <param name="~sampling_time" value="0.05"/>
        <param name="~controller_type" value="pure_pursuit"/>
        <param name="~trajectory_type" value="normal"/>
        <remap from="cmd_vel" to="/beaverbot/cmd_vel"/>
    </node>
</launch>
