<launch>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="robot_namespace" default="/"/>
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="model" default="$(find beaverbot_description)/urdf/beaverbot.urdf.xacro"/>
    <arg name="rvizconfig" default="$(find beaverbot_description)/rviz/urdf.rviz"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
            respawn="false" output="screen" />

    <rosparam command="load" file="$(find beaverbot_description)/config/control.yaml" />

    <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner"
            args="beaverbot_joint_publisher beaverbot"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-z 1.0 -x 0.0 -y 0.0 -unpause -urdf -model beaverbot -param robot_description"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/beaverbot/cmd_vel"/>
    </node>
</launch>